#sct-container {
    margin: auto;
    margin-top: 100px;
    margin-bottom: auto;
    height: 500px;
    width: 500px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pokemon {
    height: 350px;
    width: 120px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 90px;
}

.checkbox {
    border: 2px solid black;
    width: 80px;
    height: 60px;
}

figure {
    height: 75px;
    width: 75px;
}

figure img {
    width: 100%;
}

h2 {
    font-size: larger;
    font-weight: bold;
    font-family: cursive;
}